.tabbable {
  margin: 20px; }

.badge {
  position: relative;
  top: 6px;
  right: -15px; }

.add-on {
  height: 21px !important; }
  .add-on i {
    margin-top: 5px; }

#prependedInput {
  height: 30px; }

.btn {
  margin-left: 5px;
  margin-right: 5px; }
